.custom-navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    height: 76px;
    border-bottom: 1px solid #efefef;
}

.dropdown-link{
    font: inherit !important;
    color: inherit !important;
}